 /**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Remove Ugly Thick Box-Shadow Inherited from Theme img's around the google logo*/
/*img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"] {*/

div.cwd-cluster-infowindow {
	 max-height:250px; 
	 padding-right:15px;
}

div.cwd-table-wrapper table tr th.cwd-sortable-col {
	padding-left: 10px;
	padding-right: 10px;
}

div.cwd-table-wrapper table tr th.cwd-sortable-col a {
	display: contents;
}

div.cwd-table-wrapper table tr th.cwd-sortable-col a span {
	display: contents;
}

div.cwd-table-wrapper:hover table tr th.cwd-sortable-col a span.sorting-indicator::before {
	color:#00a0d2;
}

div.cwd-table-wrapper table tr th.cwd-sortable-col a span.sorting-indicator::before {
	font: 400 20px dashicons;
}

div.cwd-table-wrapper table tr th.cwd-sortable-col.asc a span.sorting-indicator::before {
	content: "\f140";
}

div.cwd-table-wrapper table tr th.cwd-sortable-col.desc a span.sorting-indicator::before {
	content: "\f142";
}

.cwd-map-wrap-frontend img {
	box-shadow: 0 0 0 0px rgba(0,0,0,0) !important;
}

 .cwd-frontend-box {
 	border: 1px solid #e5e5e5;
 	width:100%;
 	width: 100%;
    height: auto;
    box-sizing: content-box;
    display: flex;
    /*background-color: red;*/
    padding: 10px;
 }

 .cwd-map-wrap-frontend {
 	min-height: 400px;
 	height:auto;
	width: 100%;
	position: relative; 
 	/*overflow: hidden;*/
 }

 .cwd-map-button-panel {
 }

div.cwd-table-wrap {
	box-sizing:content-box;
	margin-left:auto;
}

div.cwd-table-wrap th a span{
	text-transform:capitalize;
}

div.cwd-table-wrapper {
	overflow-x: scroll;
	padding:0 1px 0 1px;
	display: block;
	width: 100%;
}

.tablenav {
	clear: both;
	height: 2.5em;
	margin: 6px 0 4px;
	vertical-align: middle;
}

.tablenav .top {
	margin: 20px 0 5px;
}

.tablenav form input {
	font-weight: 400;
	line-height: 1;
	font-size: 1rem;
	float:none;
	width:auto;
	display:inline;
	margin-right:4px;
}

.alignleft {
	float: left;
}

.tablenav-pages {
	float: right;
	height: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	display: block;
	cursor: default;
	color: #555;

	font-weight: 400;
	line-height: 1;
	font-size: 1rem;
}

#cwd-marker-filter-button {

	font-weight: 400;
	line-height: 1;
	font-size: 1rem;
	display:inline ;

}

.tablenav-pages-navspan{
	margin-right:3px;
}

.widefat {
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;

}

.widefat td{
	padding: 8px 10px;
}


a.cwd-link-marker{
	color:#0073aa;
}

a.cwd-link-marker:hover {
	color:#00a0d2!important;
}

.widefat a{
	padding: 8px 10px;
	box-shadow:none !important;
}

table.widefat {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    background:#fff;
}

table tr {
	border-collapse: collapse;
	/* Does this fix for Google Chrome??? */
}

 .striped > tbody > :nth-child(2n+1) {
 	background-color: #f9f9f9;
 }

a {
	color:#0073aa;
}

a:hover{
	color:#00a0d2;
}

a span {
	color:#0073aa;
}

a span:hover{
	color:#00a0d2;
}

#current-page-selector {
	display:inline;
	width:auto;
	margin-right:3px;
	margin-left:3px;

	font-weight: 400;
	line-height: 1;
	font-size: 1rem;
}

.pagination-links a {
	padding:10px;
	box-shadow: none !important;
	border: 1px solid #bbb;
	border-radius: 3px;
	margin-left:3px;
}

input::placeholder {
	color:#bbb;
}

#no-results-row td{
	text-align:center;
}

@media only screen and (max-width: 900px) {
	.cwd-map-wrap-frontend {
		float:none !important;
		width:100% !important;
	}
	.cwd-table-wrap {
		float:none !important;
		width:100% !important;
	}

	.cwd-frontend-box {
		display: inline-block;
	}
}
@media only screen and (max-width: 390px) {
	.displaying-num {
		display:none;
	}
}

.cwd-map-home-button {
	opacity:.65;
}

.cwd-map-home-button:hover {
	opacity:.85 !important;
}

